@model FamilyTree.ViewModels.TreeVM

@{
    Layout = "_Layout";
}

@section Sidebar
{
  @await Component.InvokeAsync("Sidebar")
}
 
@section Slidebr
{
  @await Component.InvokeAsync("Slidebar")
}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">   
                @using (Html.BeginForm("AddTree", "Tree", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-6">
                            @Html.LabelFor(t => t.Name, "Name", new{@class = "form-label"})
                            @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <hr/>
                            <button type="submit" class="btn brown-button">Add</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>