@model FamilyTree.ViewModels.TreeVM

@{
    Layout = "_Layout";
}

@section Sidebar
{
  @await Component.InvokeAsync("Sidebar")
}
 
@section Slidebr
{
  @await Component.InvokeAsync("Slidebar")
}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">   
                @using (Html.BeginForm("Update", "Tree", new { treeId = Model.Id }, FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-4">
                            @Html.LabelFor(t => t.Name, "Name of tree")
                            @Html.TextAreaFor(t => t.Name, 1, 5, new { @class = "form-control" })
                        </div>
                        <div class="col-4">
                            <h4 class="text-center">Added persons</h4>
                            <ul class="list-group list-group-flush bg-transparent">
                                <li>
                                    <p class="text-center">Here will be added persons</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h4 class="text-center">All persons</h4>
                            <ul class="list-group list-group-flush bg-transparent">
                                <li>
                                    <p class="text-center">Here will be all persons</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr/>
                            <div class="row ">
                                <div class="col-1">
                                    <button type="submit" class="btn brown-button">Save</button>
                                </div>
                                <div class="col-1">
                                    @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn brown-button"})
                                </div>
                                <div class="col-10">
                                    @Html.ActionLink("Delete", "Delete", "Tree", new { treeId = Model.Id }, new {@class="btn red-button"})
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>