@{
    Layout = "_Layout";
}

<mian>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center">Register or login for continue</h2>
                </div>
            </div>
        </div>
    </div>
</mian>