@model List<FamilyTree.ViewModels.TreeVM>

<h3 class="text-center">Trees</h3>
<hr/>
<ul class="list-group list-group-horizontal list-group-border-color: bg-transparent horizontal-slidebar">
    <li class="list-group-item bg-transparent border-0">
        @Html.ActionLink("Add", "Index", "Tree", null, new { @class = "btn brown-button" })
    </li>
    @foreach (var tree in Model)
    {
        <li class="list-group-item bg-transparent border-0">
            @Html.ActionLink(tree.Name + ".", "GetTree", "Tree", new { treeId = tree.Id }, new { @class = "btn item-link"})
        </li>
    }
</ul>